<div *ngIf="patient">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ patient.name }} {{ patient.lastName }}</mat-card-title>
      <mat-card-subtitle>Gender: {{ patient.gender }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Phone Number: {{ patient.phoneNumber }}</p>
      <p>Birthdate: {{ patient.birthDate }}</p>
      <p>Address: {{ patient.address }}</p>
      <p>City: {{ patient.city }}</p>
      <p>Postal Code: {{ patient.postalCode }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="returnToList()">Return</button>
    </mat-card-actions>
  </mat-card>
</div>